<h2 mat-dialog-title>Some Title</h2>
<mat-dialog-content>
    <label for="team-name">Team Name</label>
    <input type="text" name="team-name" placeholder="team name" [(ngModel)]="teamToAdd.name">
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="description" [(ngModel)]="teamToAdd.description">
    <h2>Add Members</h2>
    <!-- Drop Down of Users -->
     <mat-select (valueChange)="addUser()" [(value)]="currentUser">
        <mat-option *ngFor="let user of users"></mat-option>
     </mat-select>
    <div *ngFor="let user of teamToAdd.users">
        <p>{{ user.profile.firstname }} {{ user.profile.lastname }}</p>
        <button (click)="removeUser(user.id)">X</button>
    </div>
    <div>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button (click)="onSubmitClick()">Submit</button>
    </div>
</mat-dialog-content>