<div class="form-container">
  <h2 mat-dialog-title class="mat-dialog-title">Add Team</h2>
  <mat-dialog-content>
    <div class="input-group">
      <label for="team-name">Team Name</label>
      <input
        type="text"
        name="team-name"
        placeholder=""
        [(ngModel)]="teamToAdd.name"
      />
    </div>
    <div class="input-group">
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        placeholder=""
        [(ngModel)]="teamToAdd.description"
      />
    </div>

    <h2>Select Members</h2>
    <!-- Drop Down of Users -->
    <select
      [(ngModel)]="currentUser"
      (change)="addUser($event)"
      class="select-members-dropdown"
    >
      <option *ngFor="let user of users" [ngValue]="user">
        {{ user.profile.firstName }} {{ user.profile.lastName }}
      </option>
    </select>
    <div class="remove-container" *ngFor="let user of teamToAdd.teammates">
      <p class="members-to-add">
        {{ user.profile.firstName }} {{ user.profile.lastName }}
      </p>
      <button class="remove-button" (click)="removeUser(user.id)">X</button>
    </div>
    <div class="action-buttons">
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button (click)="onSubmitClick()">Submit</button>
    </div>
  </mat-dialog-content>
</div>
