<app-navmenu></app-navmenu>
<h1>Teams</h1>
<div class="teams-container">
  <ng-container *ngIf="dataLoaded; else loading">
    <div
      class="team-container"
      *ngFor="let team of teams"
      (click)="projects(team.id)"
    >
      <div class="team-header">
        <h3 class="team-name">{{ team.name }}</h3>
        <p class="team-projects-num">
          # of Projects: {{ loadProjects(team.id) }}
        </p>
      </div>
      <div>
        <h3 class="member-header">Members</h3>
        <div class="team-members-container">
          <div class="team-member" *ngFor="let member of team.teammates">
            <p>{{ member.profile.firstName }} {{ member.profile.lastName }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>Loading teams...</ng-template>

  <div class="team-container" (click)="addTeam()">
    <p>Add team</p>
  </div>
</div>
