h1 {
  text-align: center;
  color: #1ba098;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.team-container {
  color: white;
  width: calc(33.33% - 20px);
  background-color: #0b2d45;
  border-radius: 25px;
  padding: 20px;
}

.team-header {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #deb992; /* Border moved here */
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.team-member {
  background-color: #1ba098;
  border-radius: 10px;
  padding: 5px 10px;
  width: calc(50% - 5px); /* 50% width minus half of the gap */
  box-sizing: border-box;
  margin: 0;
}

.team-name {
  display: inline;
  margin-right: 125px;
  font-family: "Mulish", sans-serif; /* Added this line */
  font-weight: 500; /* Optional: if you want it bold */
  font-size: 24px;
}

.team-projects-num {
  display: inline;
  width: 50%;
}

.member-header {
  text-align: center;
}
