<nav class="navbar">
    <div>
      <img
        (click)="goHome()"
        class="logo"
        src="../../../assets/app-icon.png"
        alt="company logo"
      />
    </div>
    <div id="adtext">
      {{ isAdmin ? "ADMIN:" : "" }} {{ profile.firstName }} {{ profile.lastName }}
      
    </div>
    <div class="companyName">{{companyName}}</div>
    <div class="links">
      <a class="link" routerLink="/">Home</a>
      <a *ngIf="isAdmin" class="link" routerLink="/select-company">Company</a>
      <a class="link" routerLink="/teams">Teams</a>
      <a *ngIf="isAdmin" class="link" routerLink="/users">Users</a>
      <a (click)="logout()"><h1 class="link">Logout</h1></a>
    </div>
  </nav>
