/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #051622;
}
:root {
  --background: rgba(5, 22, 34, 255);
  --blue-text: rgba(27, 160, 152, 1);
  --beige: rgba(222, 185, 146, 255);
  --dark-blue: rgba(32, 72, 99, 255);
  --darker-blue: rgba(11, 45, 69, 255);
}
