<div class="page-container">
    <div class="announcements-header">
        <h1 class="page-title">Announcements</h1>
        <button *ngIf="userDummyDTO.admin" (click)="newAnnouncementPopup()" class="new-post-button">New</button>
    </div>
    <div class="break"></div>
    <div class="announcements-container">
        <div *ngFor="let announcment of dummyDTO" class="announcement-container">
            <div class="announcement-header">
                <p class="author">{{announcment.author}}, {{announcment.title}}</p>
                <p class="date">{{announcment.date}}</p>
            </div>
            <p class="announcement-text">{{announcment.message}}</p>
        </div>
    </div>
    <div *ngIf="announcementPopup" class="create-announcement-container">
        <div class="popup-container">
            <div class="popup-close-button" (click)="newAnnouncementPopup()" >x</div>
            <div class="popup-name">{{userDummyDTO.profile.firstName}}</div>
            <div class="popup-inner-container">
                <div>Title</div>
                <input #title class="popup-input" />
                <div>Message</div>
                <input #message class="popup-input" />
            </div>
            <button class="popup-submit-button" (click)="submitAnnouncement(title.value, message.value)">Submit</button>
        </div>
    </div>
</div>