<div class="page-container">
    <div class="page-title">Select Company</div>
    <div class="selection-container">
        <select class="company-selections" (change)="selectCompany($event)">
            <option value="" disabled selected hidden class="default-option">
                Pick an option
            </option>
            <option *ngFor="let company of companies" [ngValue]="company" class="option">{{company.name}}</option>
        </select>
        <img class="custom-arrow" src="../../assets/dropdownArrow.svg"/>
    </div>
</div>